body.general-page {
    background-image: url("../images/gradient-main.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.header-pages {
    padding: 20px;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.lightblue-section {
    display: flex;
    flex-direction: column;
    background-color: var(--lyseblå);
    border-radius: 30px;
    width: 85%;
    margin: 30px auto;
    padding: 30px;

}

.lightblue-section .learn {
    margin-bottom: 30px;
}

.lightblue-section .title {
    font-weight: bold;
    font-size: 32px;
    color: var(--mørkeblå);
    text-align: left;
}

.lightblue-section .sub-title {
    color: var(--mørkeblå);
    font-size: 24px;
    line-height: 1.6;
    text-align: left;
}