body.general-page {
    background-image: url("../images/gradient-main.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.header-pages {
    padding: 20px;
    background-size: cover;
    background-position: center;
}

main {
    width: 80%;
    margin-left: 10%;
}

.case {
    margin: 5%;
}

.case-photo {
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.case-photo img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.case .title {
    font-weight: bold;
    font-size: 72px;
    color: var(--hvid);
    margin-bottom: 0;
}

.case .sub-title {
    color: var(--hvid);
    font-size: 24px;
    font-weight: 450;
    text-align: left;
    margin-bottom: 100px;
    line-height: 1.8;
}