body.general-page {
    background-image: url("../images/gradient-main.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.header-pages {
    padding: 20px;
    background-size: cover;
    background-position: center;
}

main {
    width: 80%;
    margin-left: 10%;
}

.case-photo {
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.case-photo img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.case .title {
    font-weight: bold;
    font-size: 72px;
    color: var(--hvid);
    margin-bottom: 0;
}

.case .sub-title {
    color: var(--hvid);
    font-size: 24px;
    font-weight: 450;
    text-align: left;
    margin-bottom: 100px;
    line-height: 1.8;
}

.lightblue-section {
    display: flex;
    justify-content: center;
    background-color: var(--lyseblå);
    border-radius: 30px;
    text-align: center;
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

.lightblue-section .learn {
    margin: 10px;
}

.lightblue-section .title {
    font-weight: bold;
    font-size: 48px;
    color: var(--mørkeblå);
    text-align: center;

}

.lightblue-section .sub-title {
    color: var(--mørkeblå);
    font-size: 24px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 50px;
}


/* Tablet version  */
@media screen and (max-width: 1024px) {
    .main {
        width: 90%;
        margin-left: 5%;
    }

    .title-all .h1 {
        margin-left: 7%;
    }

    .case {
        width: 90%;
        margin-left: 5%;
    }

    .case .title {
        font-size: 48px;
    }

    .case .sub-title {
        font-size: 20px;
        margin-bottom: 80px;
    }

    .lightblue-section {
        flex-direction: column;
        margin: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .lightblue-section .title {
        font-size: 40px;
    }

    .lightblue-section .sub-title {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .case-photo img {
        max-width: 100%;
    }
}

/* Mobil version */
@media screen and (max-width: 768px) {

    main {
        width: 100%;
        margin-left: 0;
    }



    .case .title {
        font-size: 32px;
    }

    .case .sub-title {
        font-size: 16px;
        margin-bottom: 50px;
    }

    .lightblue-section {
        flex-direction: column;
        margin: 20px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 20px;
        margin-bottom: 100px;
    }

    .lightblue-section .title {
        font-size: 24px;
    }

    .lightblue-section .sub-title {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .case-photo {
        border-radius: 20px;
    }

    .case-photo img {
        max-width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;

    }
}