body.general-page {
    background-image: url("../images/gradient2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.header-pages {
    padding: 20px;
    background-size: cover;
    background-position: center;
}

main {
    width: 80%;
    margin-left: 10%;
}

.title-all h1 {
    margin-left: 155px;

}

.contact-intro {
    margin-top: -50px;
    text-align: left;
    margin-bottom: 50px;

    font-size: 24px;
    line-height: 1.6;
    color: var(--hvid);
}

.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}


.contact-info {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;

}

.contact-box {
    background-color: var(--hvid);
    border-radius: 20px;
    padding: 20px 30px;
    color: var(--mørkeblå);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    flex: 1;
    text-align: center;
}

.contact-box h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}

.contact-box p {
    font-size: 24px;
    line-height: 1.6;
}

.contact-box a {
    color: var(--blå);
    text-decoration: underline;
}

.mail-contact:hover {
    color: var(--blå);
}

/* Tablet */
@media (max-width: 1024px) {
    main {
        width: 90%;
        margin-left: 5%;
    }

    .title-all h1 {
        margin-left: 15% !important;
    }

    .contact-info {
        gap: 30px;
    }

    .contact-box {
        width: 45%;
    }

    .contact-box h2 {
        font-size: 28px;
    }

    .contact-box p {
        font-size: 20px;
    }

    .contact-intro {
        margin-top: 20px;
        text-align: left;
        margin-left: 40px;
        margin-right: 10px;
    }
}

/* Mobile */
@media (max-width: 768px) {

    .title-all h1 {
        margin-left: 15% !important;
    }

    main {
        width: 95%;
        margin-left: 2.5%;
    }



    .contact-page {
        margin-top: -50px;
        width: 80%;
    }

    .contact-intro {
        margin-top: 30px;

        font-size: 18px;
        text-align: center;
        width: 100%;
    }

    .contact-info {

        flex-direction: column;
        gap: 20px;

    }

    .contact-box {
        width: 100%;
        padding: 15px 20px;
    }

    .contact-box h2 {
        font-size: 24px;
    }

    .contact-box p {
        font-size: 18px;
    }
}