body.general-page {
    background-image: url("../images/gradient2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.header-pages {
    padding: 20px;
    background-size: cover;
    background-position: center;
}

main {
    width: 80%;
    margin-left: 10%;
}

.lightblue-section-course {
    display: flex;
    flex-direction: column;
    background-color: var(--lyseblå);
    border-radius: 30px;
    width: 97%;
    padding: 3%;
    text-align: center;
}

.lightblue-section-course .learn {
    margin-bottom: 30px;
}

.lightblue-section-course .title {
    font-weight: bold;
    font-size: 48px;
    color: var(--mørkeblå);
    text-align: left;
}

.lightblue-section-course .sub-title {
    color: var(--mørkeblå);
    font-size: 32px;
    line-height: 1.6;
    text-align: left;
}

.search-bar {
    background-color: var(--gul);
    padding: 50px;
    border-radius: 30px;
    margin: 100px auto;
    width: 40%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 200px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.search-label {
    font-size: 32px;
    font-weight: bold;
    color: var(--mørkeblå);

}

.search-description {
    font-size: 16px;
    color: var(--mørkeblå);
    text-align: center;
    margin-top: 10px;
    line-height: 1.5;
}

.contact-link {
    color: var(--mørkeblå);
    font-weight: bold;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.contact-link:hover {
    color: #003366;
}

.search-input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background-color: var(--hvid);
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.search-input-wrapper input {
    flex: 1;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    outline: none;
}

.search-input-wrapper button {
    background-color: var(--mørkeblå);
    color: var(--hvid);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.search-input-wrapper button:hover {
    background-color: var(--blå);
}


.info-box {
    text-align: center;
    margin-bottom: 30px;
}

.info-box .title-box {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
    color: var(--mørkeblå);
}

.machines {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.machine img {
    width: 200px;
    height: 200px;
}

.learn-more-section {
    display: flex;
    flex-direction: column;
}

.learn-more-container {
    display: flex;
    flex-direction: row;
    height: 900px;
}

.learn-more-container.left {
    flex-direction: row-reverse;
}




.learn-more-text {
    width: 50%;
    color: var(--hvid);
    margin: 20px;
}

.learn-more-text.left {
    margin-left: 50px;
}

.learn-more-text h4 {
    font-size: 48px;
    font-weight: bold;
}

.learn-more-text .body-text {
    font-size: 24px;
    margin-bottom: 50px;
}

.learn-more-text .popular-projects-title {
    font-size: 24px;
}

.learn-more-text .popular-projects-list {
    font-size: 24px;
}

.learn-more-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.learn-more-image img {
    width: 100%;
    border-radius: 40px;
}




.badges-section {
    display: flex;
    flex-direction: row;
    background-color: var(--blå);
    margin: 30px auto;
    height: 500px;
    border-radius: 40px;
    color: var(--hvid);
    margin-bottom: 200px;
    box-shadow: 1px 0px 82px -11px var(--mørkeblå);
}

.badges-text {
    width: 50%;
    margin-left: 70px;
}

.badges-text .key-points {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.badges-text .title {
    font-size: 48px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 40px;
}

.badges-text p {
    font-size: 20px;
}

.badges-image {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badges-image img {
    width: 50%;
}


/* Tablet */
@media (max-width: 1024px) {
    main {
        width: 90%;
        margin-left: 5%;
    }

    .lightblue-section-course {
        width: 97%;
        padding: 3%;
        border-radius: 25px;
        text-align: center;
    }

    .lightblue-section-course .learn {
        margin-bottom: 20px;
    }

    .lightblue-section-course .title {
        font-size: 32px;
    }

    .lightblue-section-course .sub-title {
        font-size: 20px;
        line-height: 1.5;
    }

    .search-bar {
        width: 60%;
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 20px;
    }

    .machines {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .machine {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .machine img {
        width: 120px;
        height: 120px;
        margin-top: 10px;
    }





    .learn-more-container.left {
        flex-direction: column;
        text-align: center;

    }

    .learn-more-container {
        flex-direction: column;
        text-align: center;
    }

    .learn-more-text.left {
        margin: 0;
    }

    .learn-more-text,
    .learn-more-image {
        width: 95%;
        margin-bottom: 50px !important;
    }

    .learn-more-text .body-text,
    .learn-more-text .popular-projects-title,
    .learn-more-text .popular-projects-list {
        font-size: 20px;
        text-align: left;
        margin-right: 0;
    }

    .learn-more-container.left {
        flex-direction: column;
        text-align: left;

    }

    .learn-more-container {
        flex-direction: column;
        text-align: left;
        margin-bottom: 0;
    }



    .learn-more-text.left {
        margin: 0;
    }

    .popular-projects-list {
        text-align: left;
        margin-left: 0px;
    }

    .learn-more-image img {
        width: 80%;
        height: auto;
    }

    .badges-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 98%;
        padding-left: 1%;
        padding-right: 1%;
        height: auto;
        gap: 20px;
    }

    .badges-text {
        width: 48%;
    }

    .badges-image img {
        width: 100%;
        /* Reducerer billedstørrelse */
    }
}

/* Mobil */
@media (max-width: 768px) {
    main {
        width: 95%;
        margin-left: 2.5%;
    }

    .lightblue-section-course {
        width: 95%;
        padding: 2.5%;
        border-radius: 20px;
    }

    .lightblue-section-course .learn {
        margin-bottom: 10px;
    }

    .lightblue-section-course .title {
        font-size: 24px;
    }

    .lightblue-section-course .sub-title {
        font-size: 16px;
    }


    .info-box .title-box {
        font-size: 20px;
        margin: 10px;
    }

    .search-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .search-bar {
        width: 95% !important;
        padding: 2.5% !important;
        border-radius: 20px;
    }

    .search-label {
        font-size: 24px;
    }

    .machines {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

    }

    .machine {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .machine img {
        width: 100px;
        height: 100px;
        margin-top: 10px;

    }

    .search-bar {
        width: 90%;
        padding: 30px;
        margin-top: 50px;
        margin-bottom: 10px;
    }



    .learn-more-text h4 {
        font-size: 32px;
    }

    .learn-more-text .body-text,
    .learn-more-text .popular-projects-title,
    .learn-more-text .popular-projects-list {
        font-size: 16px;
        text-align: left;
        margin-right: 0;
    }

    .learn-more-container.left {
        flex-direction: column;
        text-align: left;
    }

    .learn-more-container {
        flex-direction: column;
        text-align: left;
    }

    .learn-more-text.left {
        margin: 0;
    }

    .learn-more-image img {
        border-radius: 20px;
    }

    .popular-projects-list {
        text-align: left;
        margin-left: 0px;
    }

    .badges-section {
        align-items: center;
        justify-content: center;
        width: 95%;
        margin-left: 2.5%;
        border-radius: 20px;
    }

    .badges-text {
        width: 100%;
        margin: 0 auto;
        margin-top: 0;
        margin-bottom: 0;
    }

    .badges-text .title {
        margin-bottom: 0;
        margin-top: 20px;
    }

    .badges-text p {
        font-size: 16px;
        line-height: 1.4;
        padding-left: 10px;
        padding-right: 10px;
    }

    .badges-image {
        height: 50;
        margin: 20px;
        text-align: center;
    }

    .badges-image img {
        width: 90%;
        max-width: 300px;
    }
}