/* Footer */

/* Footer container */
.footer {
    background-color: var(--lyseblå);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 200px;
}

/* Footer content layout */
.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    max-width: 150%;
    margin: auto;
}

/* Footer section styling */
.footer-section {
    flex: 1;
    padding: 10px;
    text-align: center;
}

/* Title styling for each section */
.footer-section .title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 24px;
}

/* Subtitle styling for each section */
.footer-section .sub-title {
    line-height: 1.6;
    font-size: 20px;
}

/* Social Media Icons Styling */

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Individual social media icon size */
.social-icons img {
    width: 60px;
    height: 60px;
}

/* Map and Address Section Styling */

.map-and-address {
    display: flex;
    gap: 20px;
}

/* Styling for map section */
.map-section {
    flex-shrink: 0; 
}

/* Address section styling within map-and-address */
.map-and-address .address-section .title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 24px;
}

/* Address subtitle styling */
.map-and-address .address-section .sub-title {
    line-height: 1.6;
    font-size: 20px;
}



/* Tablet (max width: 1024px) */
@media (max-width: 1024px) {
    .footer-container {
        flex-direction: row;
        align-items: top;
    }

    .map-and-address .address-section .title {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 15px;
    }

    .map-and-address .address-section .sub-title {
        line-height: 1.6;
        font-size: 13px;
    }

    .map-section iframe {
        width: 200px;
        height: 150px;
    }

    .social-icons img {
        width: 40px;
        height: 40px;
    }

    .footer-section .sub-title {
        line-height: 1.6;
        font-size: 13px;
    }

    .footer-section .title {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 15px;
    }
}


/* Mobile (max width: 600px) */
@media (max-width: 600px) {
    .footer-container {
        flex-direction: row;
        align-items: center;
    }

 
}
