:root {
    --hvid: #FDFCF6;
    --lyseblå: #C4D4E8;
    --gul: #FFBD59;
    --blå: #3528A4;
    --mørkeblå: #021642;
}

@font-face {
    font-family: 'Blanka';
    src: url('../fonts/Blanka-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Jost', sans-serif;
}

.learn-more {
    background-color: var(--gul);
    color: var(--mørkeblå);
    padding: 13px 35px;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    margin-bottom: 40px;
}

.learn-more:hover {
    background-color: var(--blå);
    color: var(--hvid);
}

/* Tablet */
@media (max-width: 1024px) {
    .learn-more {
        font-size: 20px;
        padding: 10px 30px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .learn-more {
        font-size: 12px;
        padding: 8px 20px;
    }
}