/* index.css */
body {
    margin: 0;
    background-image: url("images/gradient-main.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.header-logo img {
    height: 80px;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

footer .social-media img,
footer .ucl-logo img {
    height: 50px;
    margin: 0 10px;
}