:root {
    --hvid: #FDFCF6;
    --lyseblå: #C4D4E8;
    --gul: #FFBD59;
    --blå: #3528A4;
    --mørkeblå: #021642;
}


.header-pages {
    padding: 20px;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lightblue-section-course {
    display: flex;
    flex-direction: column;
    background-color: var(--lyseblå);
    border-radius: 30px;
    width: 85%;
    margin: 30px auto;
    padding: 40px;
    text-align: center;
}

.lightblue-section-course .learn {
    margin-bottom: 30px;
}

.lightblue-section-course .title {
    font-weight: bold;
    font-size: 48px;
    color: var(--mørkeblå);
    text-align: left;
}

.lightblue-section-course .sub-title {
    color: var(--mørkeblå);
    font-size: 32px;
    line-height: 1.6;
    text-align: left;
}

.info-box {
    text-align: center;
    margin-bottom: 30px;
}

.info-box .title-box {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
}

.machines {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 250px;
    padding-right: 250px;
}

.machine img {
    width: 200px;
    height: 200px;
}